<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <title>Page Not Found - RAZORPOST</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" id="main" style="height: 100vh;">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
        <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
        </div>
    </div>
<script src="/assets/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>